body{
    background-color: cornsilk;
}

special-header{
    height: 100px;
    position: fixed;
    top: 5px;
    left: .5em;
    right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: darkseagreen;
    border-radius: 5px;
    z-index: 1000;
    padding-left: auto;
    padding-right: auto;
}

special-footer{
    position: fixed;
    height: 50px;
    background-color: darkseagreen;
    bottom: .5em;
    left: .5em;
    right: .5em;
    border-radius: 5px;
    z-index: 1000;
    padding: 10px;

}

.headerProf{
    float:right;
    width:100px;
    height:100px;
    margin: 0px 20px;
}

.postProf{
    width:50px;
    height:50px;
}

.postDate{
    float:right;
}

.postBody{
    padding-left: 5%;
    padding-right: 5%;
}

.postFooter{

}

.heightCenter{
    top: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navText{
    font-size:xx-large;
    margin-left: 2%;
}

a.nav:link{
    text-decoration: none;
    color: black;
}

a.nav:visited{
    color: black;
}

a.nav:hover{
    background-color: darkgray;
}

.feed{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 125px;
    margin-bottom: 60px;
    overflow-y: auto;
}

.post{
    background-color: antiquewhite;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
}

.showUp{
    background-color: pink;
}

.headFootSpacer{
    margin-top: 5%;
}

.likeButton{
    height: 50px;
    width: 50px;
}

.postImg{
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.selection{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 150px;
    height: 60%;
    background-color: darkseagreen;
    padding: 15px;
    border-radius: 8px;
}

.center{
    text-align: center;
}

/* Following is a way to fill a checklist of skills, this really isn't all that useful outside of profesional hyper optimised websites (new ones haven't been made in a long while aparently) */

h1.checklist{
    color: lightpink;
}

h2::first-letter{
    font-style:oblique;
}

div h1{
    color: green;
}

.checklistChild > h2{
    color: blue;
}

div + h1 {
    color: chartreuse;
}

div ~ p {
  background-color: yellow;
}
