header{
    height: 100px;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: lightgrey;
    border-radius: 5px;
}

footer{
    position: fixed;
    height: 50px;
    background-color: lightgrey;
    bottom: .5em;
    left: .5em;
    right: .5em;
    border-radius: 5px;

}

.headerProf{
    float:right;
    width:100px;
    height:100px;
    margin: -50px 20px;
}

.heightCenter{
    top: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.navText{
    font-size:xx-large;
    margin-left: 2%;
}

a.nav:link{
    text-decoration: none;
    color: black;
}

a.nav:visited{
}

a.nav:hover{
    background-color: darkgray;
}

.feed{
    margin-left: 20%;
    margin-right: 20%;
}

.showUp{
    background-color: pink;
}